{% extends "layout.html" %}
{% block content %}
        <!-- Start Category Area -->
        <section class="min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                         <form class="justify-content-center" method="POST" action="">
                             {{form.hidden_tag()}}
                             <fieldset class="form-group">
                                 <legend>Login</legend>
                                 <div class="form-group">
                                     {{ form.email.label(class="form-control-label")}}
                                     {{ form.email(class="news__input")}}
                                 </div>
                                 <div class="form-group">
                                     {{ form.password.label(class="form-control-label")}}
                                     {{ form.password(class="news__input")}}
                                 </div>
                             </fieldset>
                             <div class="form-group">
                                     {{ form.submit(class="fr__btn")}}
                             </div>
                         </form>
                         <small class="text-muted">
                            Don't have an account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
                        </small>
                        <p></p>
                        <small class="text-muted">
                            Forgot password? <a class="ml-2" href="{{ url_for('register') }}">Recover</a>
                        </small>
                    </div>
                </div>
             </div>
        </section>



{% endblock content %}
