<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

                   <!-- Start product sell Area -->
                    <section class="htc__category__area ptb--100 bg__cat--3 section_sell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="section__title--2 text-center">
                                        <h2 class="title__line">Recover Password</h2>
                                        <p>Insert new password</p>
                                    </div>
                                </div>
                            </div>
                            <div class="sell_form col-m-12 col-sm-12 col-l-12 col-xs-12 col-xl-12">
                                <div class="row">
                                    <form class="justify-content-center" method="POST" action="/recover-password" enctype="multipart/form-data">
                                        {{formrecoverpass.hidden_tag()}}
                                        <fieldset class="form-group">
                                           <div class="form-group">
                                               <div class="col-m-6 col-sm-6 col-l-6 col-xs-6 col-xl-6">
                                                   {{ wtf.form_field(formrecoverpass.newpassword)}}
                                               </div>
                                               <div class="col-m-6 col-sm-6 col-l-6 col-xs-6 col-xl-6">
                                                   {{ wtf.form_field(formrecoverpass.confirmnewpassword)}}
                                               </div>
                                           </div>
                                       </fieldset>
                                       <div class="form-group">
                                            {{ wtf.form_field(formrecoverpass.submitnewpassword, button_map={'submit':'success'}, class="btn btn-lg btn-primary btn-block fr__btn") }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End Category Area -->

{% endblock content %}